body {margin: 0;}

main {
   padding: 10px 25px 10px 25px;
}
p {
    margin-top: 12px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
}
.nav-item {
    margin-left: 20px;
}
.nav-item.nav-icon {
    height: 20px;
    width: 20px;
    margin-top: 12px;
}
.round-circle {
    margin-top: 2px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.google{
    position: absolute;
    top: 155px;
    left: 550px;
}

.search-box{
    position: absolute;
    top: 270px;
    left: 445px;    
}

.input-box{
    border-radius: 30px;
    height: 50px;
    width: 550px;
}

.google-mic{
    position: absolute;
    top: 285px;
    left: 460px;
}

.mic{
    position: absolute;
    left: 500px;
}

.search-button{
    position: absolute;
    top: 350px;
    left: 555px;    
    border-radius: 20px;
    height: 30px;
    width: 350px;
}

.button-one{
    position: absolute;
    border-radius: 5px;
    height: 40px;
    width: 150px;
}

.button-two{
    position: absolute;
    border-radius: 5px;
    right: 30px;
    height: 40px;
    width: 150px;
}

.offer{
    position: absolute;
    top: 410px;
    left: 525px;    
}

span{
    color: blue;
}

footer{
    position: absolute;
    top: 595px;
    width: 100%;   
    background-color: lightgray;
 }

.footer-one{
    color: gray;
    padding: 0px 0px 0px 50px;
}

ul li {

    list-style-type: none;
    display: inline;
    margin: 10px;
    color: gray;
}

a{
    text-decoration: none;
}